.upload {
  padding: var(--space-20);
  height: calc(100vh - 64px);
  display: flex;

  .preview {
    flex: 1;
    margin-right: var(--space-20);
    border-radius: var(--space-8);
    padding: var(--space-20);
    background: #fff;
    overflow: scroll;
    min-height: 0;
  }

  .conteiner {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    min-width: 1000px;

    .formConteiner {
      flex: none;
      display: flex;
      align-items: center;
      background: #fff;
      padding: var(--space-20);
      border-radius: var(--space-8);

      .form {
        width: 20vw;
        flex: none;
        margin-right: var(--space-20);

        .labelTip {
          color: var(--red);
          font-size: 12px;
          margin-left: var(--space-8);
        }
      }

      .uploadInner {
        border-radius: var(--space-8);
        border: 1px dashed var(--border-color);
        padding: var(--space-10) var(--space-20);
        display: flex;
        align-items: center;
        color: var(--text-3);
        font-size: 12px;
        text-align: center;
        background: var(--background);
        cursor: pointer;

        div {
          margin-left: var(--space-8);
        }
      }
    }
  }
}