:root {
  --font-family: Inter, Apple System, "PingFang SC", "SF Pro SC", "SF Pro Display", "Helvetica Neue", "Arial", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", sans-serif;
  --primary: #FF6619;
  --red: #F04631;
  --green: #21ba34;
  --green1: #66bc5b;
  --green2: rgb(33, 186, 52);
  --blue: #007AFF;
  --yellow: #f7b900;
    
    
  --primary-bg: #FFF7F0;
  --green-bg: #E5F8EA;
  --green-bg1: rgba(102, 188, 91, 0.1);
  --green-bg2: #D3F1D6;
  --red-bg: #fcdad6;
  --blue-bg: #E6F0FF;
  --blue-bg1: #cce1ff;
  --yellow-bg: #fdf1cc;

  --background: #F7F8FA;
  --background-1: #F2F3F5;
  --disabled-bg: rgba(31,56,88,.06);
  --disabled-bg1: rgba(31, 56, 88, 0.1);
  --nav-bg: rgba(255, 99, 0, 0.1);

  --border-color: #D3DAE3;
  --border-color-1: #E6EBF1;
  --border: 1px solid var(--border-color);

  --text-link: var(--blue);
  --text-disabled: rgba(31,56,88,.6);
  --text-disabled1: rgba(31, 56, 88, 0.4);
  --text-disabled2: #d3dae3;
  
  --text-1: #111720;
  --text-2: #3e495c;
  --text-3: #8f9aa9;
  --text-4: #bcc5d1;

  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
   box-sizing: border-box;
  letter-spacing: normal;
}

#root {
  background-color: var(--background);
  font-family: var(--font-family);
  height: 100vh;
}
