.dataView {
  flex: 1;
  background: #fff;
  border-radius: var(--space-8);
  padding: var(--space-20);
  margin-top: var(--space-20);
  display: flex;
  flex-direction: column;
  min-height: 0px;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      color: var(--text-1);
      font-size: 18px;
      font-weight: 500;
    }

    .action {
      display: flex;
      align-items: center;
    }
  }


  .count {
    margin-left: var(--space-20);
    display: flex;
    align-items: center;
    color: var(--primary);
    font-size: 12px;
  }

  .bills {
    flex: 1;
    overflow-y: scroll;
    min-height: 0px;
    min-width: 840px;
    margin: var(--space-16) 0px;

    .billStatus {
      font-size: 12px;
      text-align: center;
      padding: 100px 0;

      .billTip {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: var(--space-16);
        color: var(--text-2);
        gap: var(--space-16);
      }

      .billName {
        color: var(--text-3);
      }
    }

    .cellContainer {
      position: relative;

      .cellTip {
        position: absolute;
        bottom: 0px;
        color: var(--red);
        line-height: 1;
        transform: translateY(100%);
      }
    }
  }
}

.totalCount {
  strong {
    color: var(--primary);
    margin-right: var(--space-10);
  }
}

.failed {
  color: var(--red);
  font-size: 500;
}